*.abb
*.abr
*.acn
*.acr
*.alg
*.atfi
*.aux
*.bbl
*.blg
*.dvi
*.fdb_latexmk
*.fls
*.glg
*.glo
*.gls
*.idx
*.ilg
*.ind
*.ist
*.lof
*.log
*.lot
*.maf
*.mtc
*.mtc0
*.nav
*.nlo
*.out
*.pdf
*.pdfsync
*.ps
*.snm
*.synctex.gz
*.toc
*.upa
*.vrb
*.xdy
*.tdo
*.upb
_region_.*
makeabbrev
gitlog.tex
